body {
  font-family: var(--font-family-body);
  font-size: var(--font-size-body);
  font-weight: var(--fw-normal);
  color: var(--color-basic);
  background-color: var(--color-neutral);
}

svg {
  max-width: 100%;
  height: auto;
}

.hidden {
  display: none;
}
