:root {
  --color-basic: #232323;
  --color-black: #333;
  --color-dark: #202020;
  --color-light: #F9F9F9;
  --color-neutral: #F6F6F6;
  --color-neutral-dark: #CACACA;
  --color-grey: #E0E0E0;
  --color-grey-light: #EBEBEB;
  --color-grey-dark: #6C6C6C;
  --color-border: #EDEDED;
  --color-border-dark: #B2B3B9;
  --color-border-primary: #3C538E;
  --color-white: #fff;
  --color-primary: #242EDB;
  --color-secondary: #367AFF;
  --color-danger: #ff355b;
  --color-success: #47D764;
  --color-warning: #FFC021;

  --font-size-xxl: 40px;
  --font-size-xl: 24px;
  --font-size-lg: 20px;
  --font-size-md: 18px;
  --font-size-body: 16px;
  --font-size-sm: 14px;
  --font-size-xs: 12px;

  --line-height-xxl: 2;
  --line-height-xl: 1.5;
  --line-height-lg: 1.2;
  --line-height-md: 1.1;
  --line-height-body: 1;

  --fw-black: 900;
  --fw-bold: 700;
  --fw-semibold: 600;
  --fw-medium: 500;
  --fw-normal: 400;

  --font-family-body: "Open Sans", sans-serif;
}
