.row {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 12px;
  gap: 12px 0;
  border-bottom: 1px solid #E2E2E2;
}

.row_type_caption {
  display: none;
}

@media (--md-min-value) {
  .row {
    display: grid;
    gap: 8px;
    align-items: center;
    grid-template-columns: repeat(6,1fr);
    grid-template-areas:
      "name name rating price btns btns";
    padding-left: 18px;
    padding-right: 18px;
  }

  .row_type_caption {
    display: grid;
    padding-top: 22px;
    padding-bottom: 22px;
  }
}
