.btn {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 16px 8px;
  border-radius: 12px;
  font-size: var(--font-size-md);
  font-weight: var(--fw-semibold);
  line-height: var(--line-height-lg);
  letter-spacing: -0.01em;
  color: var(--color-white);
  border: 1px solid var(--color-secondary);
  background: linear-gradient(0deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.12) 100%), var(--color-primary);
  box-shadow: 0 8px 8px rgba(54, 122, 255, 0.03), inset 0 -2px 0 1px rgba(0, 0, 0, 0.08);
  transition: all .3s ease;
}

.btn_type_row {
  font-size: var(--font-size-sm);
  letter-spacing: 0;
  min-width: unset;
  gap: 0 15px;
  padding: 10px 20px;
  flex-direction: row;
  border: 0;
  border-radius: 6px;
  box-shadow: none;
  background: none;
  background-color: var(--color-primary);
}

.btn_type_icon {
  border: 0;
  min-width: unset;
  padding: 2px 14px;
  border-radius: 24px;
  box-shadow: none;
  background: none;
  background-color: var(--color-primary);
}

.btn_type_plain {
  font-size: var(--font-size-sm);
  letter-spacing: 0;
  min-width: unset;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid var(--color-border);
  background-color: var(--color-white);
  color: #515161;
  box-shadow: none;
}

.btn_type_unstyled {
  min-width: unset;
  padding: 0;
  border: 0;
  box-shadow: none;
  background: none;
  color: var(--color-border-dark);
}

.btn_type_disabled {
  opacity: .4;
  filter: grayscale(1);
  pointer-events: none;
}
